* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

#container {
	margin: 0 auto;
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.boxShadow {
	background-color: white;
	border-radius: 50px;
	box-shadow: 5px 5px 5px 5px lightgray;
}

/* HEADER  */

nav {
	background-color: white;
	border-bottom: 1px lightgray solid;
}

#loginBtn {
	background-color: darkgray;
}


/* content */

#background {
	background-color: #F8F9FA;
}

#background .container {
	position: relative;
}

#background h1 {
	font-weight: bolder;
}

#map {
	margin-top: 50px;
	margin-bottom: 50px;
	height: 800px;
	overflow: hidden;
}

#map #mapMenu {
	position: absolute;
	width: 160px;
	z-index: 2;
	margin-top: 20px;
	margin-left: 20px;
	background-color: white;
	border: 1px solid black;
}

#map #areaMenu {
	position: absolute;
	width: 160px;
	z-index: 2;
	margin-top: 20px;
	margin-left: 220px;
	background-color: white;
	border: 1px solid black;
	display: none;
}

#map .dropdown-menu {
	text-align: center;
}

#map .dropdown-menu li {
	margin: 5px;
}

#map .dropdown-menu li:hover {
	cursor: pointer;
	text-decoration: underline;
}

#mapLocalInfo {
	padding: 5px 0;
	text-align: center;
	width: 180px;
	border: 1px solid black;
	background-color: #F8F9FA;
	border-radius: 10px;
}

#mapLocalInfo li:first-child:hover {
	text-decoration: underline;
}

/******************************/
/* FOOTER                     */
/******************************/

footer {
	background-color: white;
	border-top: 1px lightgray solid;
}

/* --------------------------------- */
.wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 288px;
	height: 132px;
	margin-left: -144px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	line-height: 1.5;
}

.wrap * {
	padding: 0;
	margin: 0;
}

.wrap .info {
	width: 286px;
	height: 120px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info .title {
	padding: 5px 0 0 10px;
	height: 30px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
}

.info .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	overflow: hidden;
}

.info .desc {
	position: relative;
	margin: 13px 0 0 90px;
	height: 75px;
}

.desc .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.desc .jibun {
	font-size: 11px;
	color: #888;
	margin-top: -2px;
}

.info .img {
	position: absolute;
	top: 6px;
	left: 5px;
	width: 73px;
	height: 71px;
	border: 1px solid #ddd;
	color: #888;
	overflow: hidden;
}

.info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info .link {
	color: #5085BB;
}